oracle.install.responseFileVersion=/oracle/install/rspfmt_dbinstall_response_schema_v12.2.0
oracle.install.option={{ install_mode }}
UNIX_GROUP_NAME={{ oracle_group[0].name }}
INVENTORY_LOCATION={{ oracle_base }}/oraInventory
ORACLE_HOME={{ oracle_home }}
ORACLE_BASE={{ oracle_base }}
oracle.install.db.InstallEdition={{ oracle_edition }}
oracle.install.db.OSDBA_GROUP={{ oracle_dba_group[0].name }}
oracle.install.db.OSOPER_GROUP={{ oracle_dba_group[0].name }}
oracle.install.db.OSBACKUPDBA_GROUP={{ oracle_dba_group[0].name }}
oracle.install.db.OSDGDBA_GROUP={{ oracle_dba_group[0].name }}
oracle.install.db.OSKMDBA_GROUP={{ oracle_dba_group[0].name }}
oracle.install.db.OSRACDBA_GROUP={{ oracle_dba_group[0].name }}
oracle.install.db.rac.configurationType=
oracle.install.db.CLUSTER_NODES=
oracle.install.db.isRACOneInstall=
oracle.install.db.racOneServiceName=
oracle.install.db.rac.serverpoolName=
oracle.install.db.rac.serverpoolCardinality=
oracle.install.db.config.starterdb.type=GENERAL_PURPOSE
oracle.install.db.config.starterdb.globalDBName={{ oracle_db_name }}
oracle.install.db.config.starterdb.SID={{ oracle_db_name }}
oracle.install.db.ConfigureAsContainerDB=
oracle.install.db.config.PDBName=
oracle.install.db.config.starterdb.characterSet=AL32UTF8
oracle.install.db.config.starterdb.memoryOption=true
oracle.install.db.config.starterdb.memoryLimit={{ oracle_db_mem }}
oracle.install.db.config.starterdb.installExampleSchemas=false
oracle.install.db.config.starterdb.password.ALL={{ oracle_db_syspass }}
oracle.install.db.config.starterdb.password.SYS=
oracle.install.db.config.starterdb.password.SYSTEM=
oracle.install.db.config.starterdb.password.DBSNMP=
oracle.install.db.config.starterdb.password.PDBADMIN=
oracle.install.db.config.starterdb.managementOption=
oracle.install.db.config.starterdb.omsHost=
oracle.install.db.config.starterdb.omsPort=
oracle.install.db.config.starterdb.emAdminUser=
oracle.install.db.config.starterdb.emAdminPassword=
oracle.install.db.config.starterdb.enableRecovery=
oracle.install.db.config.starterdb.storageType={{ oracle_storage_type }}
oracle.install.db.config.starterdb.fileSystemStorage.dataLocation={{ oracle_base }}/data
oracle.install.db.config.starterdb.fileSystemStorage.recoveryLocation=
oracle.install.db.config.asm.diskGroup=
oracle.install.db.config.asm.ASMSNMPPassword=
MYORACLESUPPORT_USERNAME=
MYORACLESUPPORT_PASSWORD=
SECURITY_UPDATES_VIA_MYORACLESUPPORT=
DECLINE_SECURITY_UPDATES=
PROXY_HOST=
PROXY_PORT=
PROXY_USER=
PROXY_PWD=
COLLECTOR_SUPPORTHUB_URL=
