[Unit]
Description=Oracle Database Startup
After=syslog.target network.target

[Service]
Type=forking
User={{ oracle_user[0].name }}
Group={{ oracle_group[0].name }}

Environment=ORACLE_HOME={{ oracle_home }}
ExecStart={{ oracle_home }}/bin/lsnrctl start
ExecStop={{ oracle_home }}/bin/lsnrctl stop

[Install]
WantedBy=multi-user.target